body .container {
    width: 1680px;
    padding-left: 30px;
    padding-right: 30px;
}

body .common-btn {
    border: none !important;
    border-radius: 50px;
    background: #df342f;
    font-family: 'Agenor';
    line-height: 130%;
    min-width: 190px;
    font-size: 18px;
    font-weight: 900;
    padding: 24px 10px 15px;
    height: auto;
    width: auto;
    display: table;
    margin: 0 auto;
    transition: all 0.5s linear;
}