@font-face {
    font-family: 'Agenor';
    src: url('/assets/fonts/Agenor-Black.eot');
    src: url('/assets/fonts/Agenor-Black.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Agenor-Black.woff2') format('woff2'),
        url('/assets/fonts/Agenor-Black.woff') format('woff'),
        url('/assets/fonts/Agenor-Black.ttf') format('truetype'),
        url('/assets/fonts/Agenor-Black.svg#Agenor-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Agenor';
    src: url('/assets/fonts/Agenor-Light.eot');
    src: url('/assets/fonts/Agenor-Light.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Agenor-Light.woff2') format('woff2'),
        url('/assets/fonts/Agenor-Light.woff') format('woff'),
        url('/assets/fonts/Agenor-Light.ttf') format('truetype'),
        url('/assets/fonts/Agenor-Light.svg#Agenor-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Agenor';
    src: url('/assets/fonts/Agenor-Regular.eot');
    src: url('/assets/fonts/Agenor-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Agenor-Regular.woff2') format('woff2'),
        url('/assets/fonts/Agenor-Regular.woff') format('woff'),
        url('/assets/fonts/Agenor-Regular.ttf') format('truetype'),
        url('/assets/fonts/Agenor-Regular.svg#Agenor-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Agenor';
    src: url('/assets/fonts/Agenor-Bold.eot');
    src: url('/assets/fonts/Agenor-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Agenor-Bold.woff2') format('woff2'),
        url('/assets/fonts/Agenor-Bold.woff') format('woff'),
        url('/assets/fonts/Agenor-Bold.ttf') format('truetype'),
        url('/assets/fonts/Agenor-Bold.svg#Agenor-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Agenor';
    src: url('/assets/fonts/Agenor-Thin.eot');
    src: url('/assets/fonts/Agenor-Thin.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Agenor-Thin.woff2') format('woff2'),
        url('/assets/fonts/Agenor-Thin.woff') format('woff'),
        url('/assets/fonts/Agenor-Thin.ttf') format('truetype'),
        url('/assets/fonts/Agenor-Thin.svg#Agenor-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GothamBlack';
    src: url('/assets/fonts/GothamBlack.eot');
    src: url('/assets/fonts/GothamBlack.eot') format('embedded-opentype'),
        url('/assets/fonts/GothamBlack.woff2') format('woff2'),
        url('/assets/fonts/GothamBlack.woff') format('woff'),
        url('/assets/fonts/GothamBlack.ttf') format('truetype'),
        url('/assets/fonts/GothamBlack.svg#GothamBlack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GothamBook';
    src: url('/assets/fonts/GothamBook.eot');
    src: url('/assets/fonts/GothamBook.eot') format('embedded-opentype'),
        url('/assets/fonts/GothamBook.woff2') format('woff2'),
        url('/assets/fonts/GothamBook.woff') format('woff'),
        url('/assets/fonts/GothamBook.ttf') format('truetype'),
        url('/assets/fonts/GothamBook.svg#GothamBook') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/PoppinsLight.eot');
    src: url('/assets/fonts/PoppinsLight.eot') format('embedded-opentype'),
        url('/assets/fonts/PoppinsLight.woff2') format('woff2'),
        url('/assets/fonts/PoppinsLight.woff') format('woff'),
        url('/assets/fonts/PoppinsLight.ttf') format('truetype'),
        url('/assets/fonts/PoppinsLight.svg#PoppinsLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
